@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,400;1,600&display=swap');
@import 'reset.css';
@import 'status-bar.css';
body {
  font-family: 'Playfair', serif;
}

.welcome-header {
  margin: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.8;
}
