.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}

.icon-row__cog {
  position: relative;
}

.icon-row__elipsis {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  bottom: 23px;
  left: 20px;
}
